body{
    background-color: #F0F0F0;
    text-align: center;
}
.white-bar {
    height: 60px;
    background-color: white;
    margin-top: 35px;
    z-index: -1;
    position: relative
}
.logo{
    height: 105px;
    width: 105px;
    position: relative;
    bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.abel {
    font-family: 'Abel', sans-serif;
}

.anton {
    font-family: 'Anton', sans-serif;
}
li{
    display: inline;
    padding: 8px;
}
#main{
    font-size: 48px;
}
h3{
    font-size: 40px;
}
.circle{
    height: 85px;
    width: 85px;
    border-radius: 50%;
    font-size: 40px;
}