body{
    background-color: #F0F0F0;
    text-align: center;
}
.white-bar {
    height: 60px;
    background-color: white;
    margin-top: 35px;
    z-index: -1;
    position: relative
}
.logo{
    height: 105px;
    width: 105px;
    position: relative;
    bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.abel {
    font-family: 'Abel', sans-serif;
}

.anton {
    font-family: 'Anton', sans-serif;
}
li{
    display: inline;
    padding: 8px;
}
#main{
    font-size: 48px;
}
h3{
    font-size: 40px;
}
.circle{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-align: center;
    position: relative;
    border: 10px solid white;
    margin-bottom: 10px;

}
.sm-nav{
    postion: relative;
    top: 57px;
}

.circle p {
    top: 60px;
    position: relative;
}

.red {
    background-color: #E6563B;
}

.orange {
    background-color: #F29E00;
}

.green {
    background-color: #7cd06c;
}

.blue {
    background-color: #00aba9;
}

.apple {
    border: 8px solid #e6e6e6;
    height: 200px;
    width: 100%;
}

.sm-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-family: 'Anton', sans-serif;
    position: relative;
    padding: 5px;
    margin-left: 5px;
}


hr {
    border: 2px solid #e6e6e6;
}

.aside {
    position: relative;
    height: 50px;
    padding-right: 10px;
    margin-bottom: 25px;
}

.aside img {
    height: 100%;
    position: absolute;
    left: 0;
}

h4 {
    margin-left: 85px;
    text-align: left;
    font-size: 25px;
}
